.input-remember {
    display: flex;
}

.input-remember label {
    margin-left: 0.25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input-wrapper label {
    font-weight: bold;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}