$first-color: #00bc77;
$first-color-alt: #00a86b;
$first-color-alt-2:#42b983;
$white-color: #fff;
$white-color-alt: #ccc;
$black-color: #222;
$background-color: #12002b;
$text-color:#2c3e50;
$message-error-color: red;